.vertical-nav {
  position: fixed;
  height: 100%;
  padding: 0px 3rem;
  background-image: linear-gradient(
    to bottom,
    hsl(243, 67%, 40%),
    hsl(243, 67%, 60%)
  );
}

.nav-bg-color{
  background-image: linear-gradient(
    to right,
    hsl(243, 67%, 40%),
    hsl(243, 67%, 60%)
  );
}

.categories {
  list-style-type: none;
  margin:0;
  padding: 0;
  li {
    margin-top: 20px;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      &:hover{
        color: hsl(256, 100%, 83%)
      }
    }
  }
}
